
/* --- navigation bar --- */

.navbar {
  background: #111112
}

.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
}

/* .nav-link : hover {
  color: #000;
} */

.navbar-collapse {
  justify-content: flex-end;
}

/* --- header --- */

.header {
  background-image: url('https://img.wallpapersafari.com/desktop/1680/1050/8/70/JHgsun.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.0);
}

.description {
  width: 95%;
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, 5%);
  text-align: center;
  padding-top: 50px;
}

.description p {
  padding-left: 5%;
  padding-right: 5%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.description h1 {
  color: #efefef;
  margin: 0;
  font-weight: 500;
  text-shadow: 10px 10px 10px rgba(0, 0, 20, 0.4);
}
.description h2 {
  color: #fff;
  font-weight: 450;
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
  max-width: 1000px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.description h3 {
  color: #ccc;
}
.description h4 {
  color: #ccc;
}
.description h5 {
  color: #eee;
  font-size: 25px;
  margin-top: -10px;
  font-weight: 350;
  opacity: 0.8;
}

.description p {
  color: #acf;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 450;
}

.largeTitle {
  color: #ffffff;
  font-size: 80px;
  font-weight: 500;
  letter-spacing: -0.08rem;
  padding: 20px;
  padding-bottom: 40px;
  margin: 0;
  text-shadow: 10px 10px 10px rgba(0, 0, 20, 0.4);
  line-height: 90%;
}

@media only screen and (max-width: 800px) {
  .largeTitle {
    font-size: 50px;
  }
}

.plate {
  margin: 20px;
  margin-bottom: 40px;
}
.plate h1 {
  padding: 0;
  --web-minimum-scale: .1;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;
  line-height: 1em; /* a */
  max-height: 2em; /* a x number of line to show (ex : 2 line)  */
}
.plate h2 {
  padding: 0;
}
.plate div {
  max-width: 500px;
  background: rgba(200, 200, 200, 0.4);
  vertical-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 20, 0.4);
}
.plate div:hover {
  background: rgba(225, 225, 225, 0.6);
  cursor: pointer;
}

.download {
  width: 400px;
  margin: 30px;
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(0, 0, 20, 0.4);
}
@media only screen and (max-width: 500px) {
  .download {
    max-width: 300px;
  }
}

.supportdetails h2 {
  padding: 0px;
}
.supportdetails p {
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
}


div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

div.scrollmenu img {
  width: 310.5px;
  height: 672px;
  border-radius: 40px;
  margin: 10px;
}